{% extends 'base.html.twig' %}

{% block title %}Hello ImagesController!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <h1>Загрузчик картинок</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form(form, { 'attr': { 'id': 'image-downloader-form' } }) }}
    </div>
    <div class="col-md-6">
        <h3>Скачанные картинки</h3>
        <div class="pictures-content">
            {% for imagePath in imagesPaths %}
                <img src="{{ imagePath }}">
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
